<app-header [title]="title" [backOptions]="headerOpt"></app-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label>
        <h6>Статус заказа</h6>
        <ion-badge class="status-badge">
          <span>Готов к выдаче</span>
        </ion-badge>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h6>Адрес</h6>
        <span>ЖК "Восток", аптека "Europharma" №90</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <a href="">Посмотреть на карте</a>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h6>Индекс Тастамата</h6>
        <span>9101108</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h6>Дата и время вложения</h6>
        <span>24 марта, 11:23</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-button class="cancel-button" size="default" expand="block" color="cancel" >Отменить и забрать</ion-button>
    </ion-item>

    <ion-item lines="none">
      <h4>Получатель</h4>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h6>Имя</h6>
        <span>Арыстан</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h6>Номер телефона</h6>
        <span>+7 775 768 0555</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h6>Срок хранения</h6>
        <span>27 марта, 11:23</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-button [routerLink]="['/main/order-increase']" size="default" expand="block">Продлить хранение на 1 день</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
