ion-header {
  background-color: var(--ion-color-primary);
  ion-toolbar {
    div.wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    ion-title {
      padding-right: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }

    --background: var(--ion-color-primary);
    padding-top: 18px;
  }
}
