<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Мои посылки</ion-title>
  </ion-toolbar>
</ion-header>

<br />

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-text color="medium">
    <h5>Сегодня</h5>
  </ion-text>

  <ion-list lines="none" [inset]="true">
    <ion-item [button]="true">
      <ion-icon color="danger" slot="start" size="large" name="arrow-up-circle-outline"></ion-icon>
      <ion-label>
        <h5>Арыстан</h5>
        <p>Готов к выдаче (тек)</p>
      </ion-label>

      <ion-badge slot="end">
        <ion-icon name="time-outline" size="large"></ion-icon>
        <h5>23ч 15м</h5>
      </ion-badge>

      <ion-icon color="medium" slot="end" name="chevron-forward-outline" size="large"></ion-icon>
    </ion-item>

    <ion-item [button]="true">
      <ion-icon color="danger" slot="start" size="large" name="arrow-up-circle-outline"></ion-icon>
      <ion-label>
        <h5>Арыстан</h5>
        <p>Готов к выдаче (тек)</p>
      </ion-label>

      <ion-badge slot="end">
        <ion-icon name="time-outline" size="large"></ion-icon>
        <h5>23ч 15м</h5>
      </ion-badge>

      <ion-icon color="medium" slot="end" name="chevron-forward-outline" size="large"></ion-icon>
    </ion-item>

    <ion-button size='large' expand="block">Получить посылку</ion-button>
  </ion-list>
</ion-content>
