ion-list {
  display: block;
  width: 100%;
  margin: 5px!important;

  ion-icon {
    color: #F15A29;
    margin-right: 10px;
  }

  ion-button {
    gap: 10px;
    border-radius: 8px;
    text-transform: none;
  }
}
