ion-tab-button {
  font-size: 10px;
  background-color: #fa631d;
  --color: #ffffff;
  --padding-end: 0px;
  --padding-start: 10px;
  --padding-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  ion-icon {
    font-size: 30.5px;
  }
}

ion-tab-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}
