.my-orders-header {
  background-color: #fa631d; /* Оранжевый цвет фона */
  width: 100%; /* Ширина блока на всю ширину экрана */
}

.content {
  max-width: 1200px; /* Максимальная ширина контента */
  margin: 0 auto; /* Центрирование контента */
  padding: 20px; /* Добавим немного внутренних отступов для красоты */
}

h1 {
  color: #ffffff; /* Белый цвет текста */
  margin: 0; /* Убираем маргины, чтобы текст был ровно посередине */
}
