<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="put-package" href="/put-package">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
      <ion-label>Вложить</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tastamats" href="/tastamats">
      <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
      <ion-label>Тастаматы</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" href="/orders">
      <ion-icon aria-hidden="true" name="reorder-four-outline"></ion-icon>
      <ion-label>Заказы</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
